/* Error: Undefined variable.
 *   ,
 * 9 |   font: 1em/1.5 $stack-helvetica;
 *   |                 ^^^^^^^^^^^^^^^^
 *   '
 *   scss\base\_base.scss 9:17  @import
 *   scss\base\_index.scss 5:9  @import
 *   scss\application.scss 4:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    font: 1em/1.5 $stack-helvetica;\d\a   \2502                  ^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\base\\_base.scss 9:17  @import\a   scss\\base\\_index.scss 5:9  @import\a   scss\\application.scss 4:9  root stylesheet";
}
